header{
    height: 9vh;
    background-color: white;
}

main{
    margin-top: 9rem;
}

li{
    font-weight: 600;
}

li:hover{
    color: rgb(26, 131, 192);
    border-bottom: 3px solid rgb(26, 131, 192);
}